@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|PT+Sans');

:root {
  --font-main: 'PT Sans', sans-serif;
  --font-headers: 'Merriweather', serif;
  --font-inputs: 'Montserrat', sans-serif;
  --color-btn-gray: #363636;
  --color-btn-red: #ea445b;
  --color-blue: #28b7d7;
  --color-light-blue: #1cafcf;
  --color-border-gray: #e6e6e6;
  --color-text-light: #b4b4b4;
  --color-text-gray: #8e9197;
  --color-text-dark: #323a45;
}

ul, p, li, h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

ul { list-style: none; }

body {
	background-color: #eaedf1;
}

#app {
	max-width: 1200px;
	margin: 20px auto;
	color: var(--color-text-dark);
	font-family: var(--font-main);
}

.row {
	display: flex;
	justify-content: space-between;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

h1 {
	color: var(--color-blue);
	font-family: var(--font-headers);
	margin: 10px auto;
}

input {
	border-radius: 4px;
	margin: 18px 0;
	padding: 18px;
	border: 2px solid var(--color-border-gray);
	font-size: 18px;
	width: 100%;
	display: block;
	box-sizing: border-box;
	font-family: var(--font-inputs);
	font-style: italic;
	color: var(--color-text-gray);
}

input::placeholder {
	color: var(--color-text-light);
}

a {
	text-decoration: none;
}

.button {
	color: #fff;
	background: var(--color-btn-gray);
	border: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;
	text-align: center;
	padding: 8px 16px;
	margin: 12px auto;
	display: inline-block;
	transition: all 0.3s ease 0s;
	font-family: var(--font-main);
}

.button:hover,
a.button:hover {
	background-color: color(var(--color-btn-gray) lightness(35%));
	text-decoration: none;
	cursor: pointer;
}

.modal-background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.85);
	overflow: auto;
}

.modal,
.pseudo-modal {
	background: #fff;
	margin: 50px auto;
	padding: 30px;
	border-radius: 4px;
	width: 867px;
	position: relative;
	box-sizing: border-box;
}

.pseudo-modal > p {
	text-align: center;
	padding-bottom: 20px;
	color: var(--color-btn-red);
}


.close-btn {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: none;
	background-image: url('./images/close-btn.png');
	position: absolute;
	top: -8px;
	right: -8px;
}

.close-btn:hover {
	cursor: pointer;
	transform: rotate(90deg);
	transition: all 0.5s ease-in;
}

.close-btn:not(:hover) {
	transform: rotate(-90deg);
	transition: all 0.5s ease-out;
}

.button:active,
button:active,
a:active,
.button:focus,
button:focus,
a:focus {
	outline: none;
}

.video-wrapper {
	border-radius: 4px;
	overflow: hidden;
	height: 454px;
	position: relative;
}

.video-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(8, 90, 108, 0.76);
	opacity: 0;
	transition: all 0.3s ease 0s;
}

.video-controls.open {
	opacity: 1;
}

input[type="range"] {
  height: 64px;
  display: inline-block;
  vertical-align: bottom;
  -webkit-appearance: none;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
}
input[type="range"]:focus {
  outline: none;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #1CAFCF;
  border-radius: 4px;
  border: 3px solid #1cafcf;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 3px solid #FFFFFF;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #1CAFCF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #1CAFCF;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #1CAFCF;
  border-radius: 4px;
  border: 3px solid #1cafcf;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 3px solid #FFFFFF;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #1CAFCF;
  cursor: pointer;
}
input[type="range"]::-moz-range-progress {
  background-color: #1CAFCF; 
}
input[type="range"]::-moz-range-track {  
  background-color: #093b46;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #1CAFCF;
  border: 3px solid #1cafcf;
  border-radius: 8px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #1CAFCF;
  border: 3px solid #1cafcf;
  border-radius: 8px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 3px solid #FFFFFF;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #1CAFCF;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #093b46;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #1CAFCF;
}

.play-btn, .volume-btn {
	width: 8.5%;
	height: 64px;
	border: none;
	vertical-align: bottom;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

.play-btn:hover, .volume-btn:hover {
	box-shadow: 5px 0px 10px 0px color(var(--color-light-blue) blackness(70%) alpha(50%));
}

.play-btn {
	background: var(--color-light-blue) url('./images/play-icon.png') no-repeat center;
}

.play-btn.pause {
	background-image: url('./images/pause-icon.png');
}

.volume-btn {
	background: color(var(--color-light-blue) alpha(22%)) url('./images/sound-icon.png') no-repeat center;
	position: relative;
	transition: all 0.3s ease 0s;
}

.volume-btn:not(.mute) {
	filter: brightness(130%);
}

.volume-btn.loud {
	background-image: url('./images/loud-icon.png');
}

.volume-btn.mute {
	background-image: url('./images/mute-icon.png');
}

input.volume-slider {
	position: absolute;
	top: -36px;
	left: 0;
	width: 100%;
	height: 36px;
	opacity: 0;
	transition: all 0.5s ease-in;
}

.volume-btn:hover > input.volume-slider {
	width: 200px;
	background-color: rgba(8, 90, 108, 0.76);
	border-bottom: 2px solid var(--color-light-blue);
	cursor: pointer;
	opacity: 1;
	filter: brightness(80%);
}

input.progress-slider {
	width: 83%;
}

.progress-pseudo {
	height: 100%;
	position: absolute;
	right: 0;
	display: inline-block;
}

.remaining-time {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	right: 10px;
	bottom: 70px;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
}

.button.icon {
	background-color: transparent;
	color: var(--color-text-dark);
	padding: 2px 2px 2px 0;
	margin: 16px 0;
}

.button.icon:hover {
	color: var(--color-blue);
}

.button.icon:before {
	width: 16px;
	height: 16px;
	padding-right: 6px;
	vertical-align: bottom;
	display: inline-block;
	filter: grayscale(100%);
	transition: all 0.3s ease 0s;
}

.button.icon:hover:before {
	filter: initial;
}

.like-btn:before {
	content: url('./images/like-icon.png');
}

.button.icon.share-btn,
.button.icon.like-btn {
	margin-right: 18px;
}

.share-btn:before {
	content: url('./images/share-icon.png');
}

.comment-btn:before {
	content: url('./images/comment-icon.png');
}

.report-btn:before {
	content: url('./images/report-icon.png');
}

.button.icon.report-btn:hover {
	color: var(--color-btn-red);
}

.delete-btn {
	background-color: var(--color-btn-red);
	margin-left: 6px;
}

.delete-btn:hover {
	background-color: color(var(--color-btn-red) blackness(25%));
}

input[name="comment"] {
	margin-bottom: 20px;
}

.comments-list {
	margin-left: -30px;
	@nest & > li {
		border-top: 1px solid var(--color-border-gray);
		padding-top: 45px;
		padding-left: 15px;
		margin-top: 16px;
	}
}

.comment-header.row,
.reply-header.row {
	justify-content: flex-start;
	padding-bottom: 22px;
	@nest & > .column {
		align-items: flex-start;
		@nest & > h4 {
			color: var(--color-blue);
			font-family: var(--font-headers);
			font-size: 18px;
			font-weight: bold;
			margin: 5px 0;
		}
		@nest & > p {
			font-size: 10px;
			font-weight: bold;
			color: var(--color-text-light);
			text-transform: uppercase;
		}
	}
}

.avatar {
	border-radius: 50%;
	margin-right: 18px
}

.comment-content {
	border-left: 6px solid var(--color-border-gray);
	border-bottom: 1px solid var(--color-border-gray);
	padding: 22px 0 0 24px;
}

.comment-content > p {
	font-size: 16px;
	margin-bottom: 4px;
	line-height: 28px;
}

.comment-content > ul.row {
	justify-content: flex-start;
	position: relative;
}

.comment-content > ul.row > li:last-of-type {
	position: absolute;
	right: 0;
}

.comment-reply,
.replies-list {
	border-left: 6px solid color(var(--color-border-gray) blackness(25%));
	padding: 14px 0 8px 24px; 
}

.replies-list {
	padding-top: 4px;
	padding-bottom: 22px;
}

.reply-header.row {
	padding-top: 22px;
}

.reply-header.row + p {
	border-bottom: 1px solid var(--color-border-gray);
	border-left: 6px solid var(--color-border-gray);
	padding: 6px 0 8px 24px;
	margin-bottom: 4px;
	line-height: 28px;
}

.comment-reply {
	padding-top: 0px;
}

.comment-reply > ul.row {
	justify-content: flex-start;
}

.button[class*="reply-"] {
	background-color: transparent;
	color: var(--color-text-light);
	margin: 0 20px 0 0;
	padding: 2px 2px 12px 0;
}

.button[class*="reply-"]:hover,
.button[class*="reply-"].active {
	color: var(--color-text-dark);
}

input[name="reply"] {
	margin: 0;
}